<%# ------------ if cart is empty %>

<div class="empty-cart-container no-items d-none">
  <h1 class="cart-title text-muted">Your cart is empty</h1>
</div>

<%#  ----------- when there is something in the cart %>

<div id="cart" class="d-none" style="background-color: white">

  <div class="card-items">
    <h1 class="mt-3"> Restaurant name </h1>
    <p> Food items</p>
  </div>
    <%# ------------------- PLACEHOLDER BUTTON, FOR STRIPE %>
    <p class="btn btn-primary btn block">Submit Order</p>

</div>
