<%# when there is nothing in the cart %>


<h1 class="cart-title empty text-muted text-center">Your cart is empty</h1>


<%# when there is something in the cart %>
<div style="background-color: white">
  <div class="container py-3">
    <div class="cards">
      <div class="card">
        <h1 class="mt-3"> Restaurant name </h1>
        <p> Food items</p>
      </div>
    </div>
  </div>
</div>
