<%# ------------ if cart is empty %>


<h1 class="no-items d-none cart-title text-muted text-center">Your cart is empty</h1>


<%#  ----------- when there is something in the cart %>

<div id="cart" class="d-none" style="background-color: white">
  <div class="container py-3">
    <div class="card-items">
      <h1 class="mt-3"> Restaurant name </h1>
      <p> Food items</p>
    </div>
      <%# ------------------- PLACEHOLDER BUTTON, FOR STRIPE %>
      <%# <p class="btn btn-primary btn block">Submit Order</p> %>
      <%= render "create_order" %>
    </div>
</div>
