<%# ------------ if cart is empty %>

<div class="empty-cart-container no-items d-none">
  <h1 class="cart-title text-muted">Your cart is empty</h1>
</div>

<%#  ----------- when there is something in the cart %>

<div id="cart" class="d-none" style="background-color: white">

  <div style="background-color: white">
    <div class="container py-3">
      <h1 class="mt-3">Last Step - Checkout</h1>
      <p class="checkout-restaurant-name"></p>
    </div>
  </div>

  <div class="card mx-auto m-3" style="width: 30rem;">
    <div class="card-body card-items">
      <%# Food name and Food price %>
    </div>
    <%= render "create_order" %>
  </div>
</div>
