// Import page-specific CSS files here.
@import "home";
@import "restaurant";
@import "form";

.checked {
  color: orange;
}

body {
  background-color: white;
}

.header {
  margin-top: 20px;
  margin-bottom: 30px;
}
