<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.jen-eats.com/tanglin/images/restaurants-and-bars/banner.jpg);">
  <div class="container">
    <h1 class="py-2">ChompFood</h1>
    <p><strong>Crave it? Chomp it.</strong></p>
    <a class="btn btn-success" href="#">Order now</a>
  </div>
</div>

<div class="container mt-3">
    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <p>hello world</p>
</div>

<div class="footer">
  <div class="footer-copyright">
    @Chomp 2021
  </div>
</div>