<div class="card-restaurant col-3">
  <%= link_to restaurant_path(restaurant) do %>
    <img src="https://source.unsplash.com/random/?food"/>
    <div class="card-restaurant-infos">
      <div>
        <h2><%= restaurant.name %></h2>
        <p>Description of restaurant</p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
      </div>
    </div>
  <% end %>
</div>
