<div class="ml-4-">
  <%= link_to "Home", root_path %> > <%= "Restaurants" %>
  <br>
  <div class="header"><h1>Popular Near You </h1></div>
</div>
<div class="container">
  <div class="row">
  <%= render @restaurants %>
  </div>
</div>
