.navbar-lewagon {
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-home {
  color: white;
  font-family: Sigmar One, sans-serif;
  font-size: 35px;
  text-decoration: none;
}

a:hover.navbar-home {
  color: white;
}

.navbar-color {
  color: rgba(236, 228, 228, 0.747) !important;
  font-size: 35px;
  text-shadow: 4px 3px #f00707;
  font-family: Sigmar One, sans-serif;
}

.nav-item {
  border-radius: 5px;
  background-color: white;
  margin-left: 15px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(7, 7, 7);
}

.avatar {
  padding-bottom: none;
}
